.popup {
	visibility: hidden;
	z-index: 10001;
	margin-top: 20px;
	top: 40px;
	left: 50px;
	position: absolute;
	
    background-color: rgba(70, 70, 70, 0.6);
    padding: 4px;
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
}

.stem.bottomright {
	top: -20px;
	right: 5px;
	float: right;
	width: 20px;
    height: 20px;
	z-index: 10002;

    background-image: url("./img/close.png");
}

.popupInner {
	padding: 10px;
	width: auto;
	max-height: 552px;
	
    background: none repeat scroll 0% 0% #FFF;
    overflow-y: auto;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
}

.topbar{
	margin: 10px;
}

#tooltip {
    z-index: 9999;
	position: absolute;
	display: none;
	top:0px;
	left:0px;
	background-color: #000;
	padding: 5px 10px 5px 10px;
	color: white;
	opacity: 0.6;
	border-radius: 5px; 
}

.buttom{
	margin: 0px 5px 5px;
	width: auto;
    padding: 4px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
}

.highlightPair{
	border: 2px solid #ff2;
}

.highlightPairClick{
	background-color: #ff2;
}

.highlightSingle{
	border: 2px solid #2ff;
}

.highlightSingleClick{
	background-color: #2ff;
}

.relevant{
	color: red;
}

.trec_eval_data{
	background-color: rgba(70, 70, 70, 0.1);
	padding-left: 10px;
}

.disabled{
	disabled: disabled; 
	display: inline
}